.swiper {
  width: 1010px;
  height: auto;

}
.swiper-slider{
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.card {
  height: 20rem;
  width: 20rem;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.linkPosition {
  position: absolute;
  top: 10px;
  left: 90px;
  width: 150px;
}
.heartIcon {
  position: absolute;
  top: 10px;
  right: 12px;
  color: rgb(252, 252, 252);
}

h5 {
  position: absolute;
  bottom: 110px;
  left: 85px;

  font-size: 17px;
  color: rgb(37, 35, 35);
  font-family: "Merienda One", cursive;
}
p {
  position: absolute;
  bottom: 49px;
  left: 10px;
  font-size: 11px;
  font-weight: 400;
  color: rgb(165, 163, 160);
}
.iconCall {
  position: absolute;
  bottom: 36px;

  width: 24px;
}
.ibagueStyle {
  position: absolute;
  bottom: 35px;
  left: 43px;
  font-family: "Comfortaa", cursive;

  font-weight: 750;
  font-size: small;
  color: rgb(107, 108, 109);
}
.dayStyle {
  position: absolute;
  bottom: 35px;
  left: 149px;
  font-family: "Comfortaa", cursive;

  font-weight: 750;
  font-size: small;
  color: rgb(107, 108, 109);
}
.iconExperience {
  position: absolute;
  bottom: 38px;
  left: 125px;
  width: 21px;
}

.priceStyle {
  position: absolute;
  bottom: 35px;
  left: 231px;
  font-family: "Comfortaa", cursive;
  font-weight: 750;
  font-size: small;
  color: rgb(107, 108, 109);
}
.iconGeo {
  position: absolute;
  bottom: 38px;
  left: 206px;
  color: #86092d;
}
.buttonStyle {
  position: absolute;
  top: 290px;
  left: 222px;

  font-family: "Comfortaa", cursive;
  font-weight: 750;
  font-size: small;
  color: rgb(5, 5, 5);
}

