

  <div id="carouselExampleIndicators" class="carousel slide positionSlider" data-bs-ride="carousel">

    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="./assets/imagenesSlider/imagenSlider1.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="./assets/imagenesSlider/imagenSlider2.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="./assets/imagenesSlider/imagenSlider3.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-indicators">

             <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
             <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
             <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>

            </div>
    </div>

    <div class="row">
      <div class="col-sm-12 text-center">

        <h3 >
          El Tolima en tus pupilas
        </h3>

      </div>
        </div>
    <div class="row">
    <div class="col-sm-12">

      <p>Visita el Tolima y enamorate de sus paisajes, cultura y
        gastronomia a traves <br> de las experiencias
        creadas por las mejores agencias de viejes de la region</p>
      </div>
  </div>

  <div class="container-fluid">
    <div class="row grid" >
     <div class="col-xs-12 col-sm-12 col-md-6 col-xl-6" *ngFor="let grid1 of img1">
            <div class="row justify-content-center">
              <div class="col-12">

                <p class="subTitleStyle">
                Ibagué
                Naturalmente</p>
              </div>
              </div>

        <img src="{{grid1.image}}" alt="" class="imageStyle">
      </div>

       <div class="col-xs-12 col-sm-12 col-md-6 col-xl-6" *ngFor="let grid2 of img2">
        <img src="{{grid2.image}}" alt="" class="imageStyle">
      </div>
    </div>

<div class="row grid">


  <div class="col-xs-12 col-sm-12 col-md-6 col-xl-6" *ngFor="let grid3 of img3">
        <img src="{{grid3.image}}" alt="" class="imageStyle">
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-xl-6" *ngFor="let grid4 of img4">
        <img src="{{grid4.image}}" alt="" class="imageStyle">

      </div>
      </div>
      <br><br>

      <app-card></app-card>
  </div>





