.positionSlider{
  position: absolute;
  top: -0px;
}
.carousel-item {
  transition-duration: 5ms;
}
.buttonStyle{

 width: 20px;
 height: 22px;
 background-color: rgb(248, 248, 248);
 border-radius: 50%;
}


h3{
  font-family: 'Comfortaa', cursive;
  font-weight: 700;

  color: rgb(41, 40, 40);
}
p{

  font-family: 'Comfortaa', cursive;
  text-align: center;
  font-weight: 750;
  font-size: small;
  color: rgb(107, 108, 109);

}

.buttonStyle{
  border-radius: 50%;
}
.active{
  background-color: rgb(255, 94, 0);
}

.imageStyle{
  width: 100%;
}
.grid{
  margin: auto;
}
.subTitleStyle{

position:absolute;
bottom: 450px;
right: 200px;



  font-size: 50px;
  font-family: Milkshake;
color: rgb(202, 206, 209);

}



